{% extends 'index.html' %}
{% load static %}
{% block home %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Mahsulotlar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Mahsulot qo`shish</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Mahsulot qo'shish</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-4 col-sm-12">
                                        <label for="exampleInputText">Name UZ</label>
                                        <input type="text" class="form-control" name='name_uz'
                                               placeholder="Name UZ">
                                    </div>
                                    <div class="form-group col-md-4 col-sm-12">
                                        <label for="exampleInputText">Name RU</label>
                                        <input type="text" class="form-control" name='name_ru'
                                               placeholder="Name RU">
                                    </div>
                                    <div class="form-group col-md-4 col-sm-12">
                                        <label for="exampleInputText">Name EN</label>
                                        <input type="text" class="form-control" name='name_en'
                                               placeholder="Name EN">
                                    </div>
                                </div>

                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="exampleInputText">Kategoriya</label>
                                    <select name="category" class="form-control" >
                                        {% for cate in category %}
                                        <option value="{{ cate.id }}">{{ cate.name_uz }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-6 col-sm-8">
                                    <label for="exampleInputFile">Image</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="img">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-8 col-sm-10">
                                    <label for="exampleInputText">Ta'rif UZ</label>
                                    <input type="text" class="form-control " name="desc_uz"
                                           placeholder="Tarif UZ">
                                </div>
                                <div class="form-group col-md-8 col-sm-8">
                                    <label for="exampleInputText">Ta`rif RU</label>
                                    <input type="text" class="form-control" name="desc_ru"
                                           placeholder="Ta`rif RU">
                                </div>
                                <div class="form-group col-md-8 col-sm-8">
                                    <label for="exampleInputText">Ta`rif EN</label>
                                    <input type="text" class="form-control" name="desc_en"
                                           placeholder="Ta`rif EN">
                                </div>
                                <div class="form-group col-md-2 col-sm-4">
                                    <label>Narxi</label>
                                    <input type="number" class="form-control" name="price"
                                           placeholder="100000">
                                </div>
                                <div class="form-group col-md-6 col-sm-4">
                                    <label> O'lchov birligi</label>
                                    <select name="unit" class="form-control" >
                                        <option > KG </option>
                                        <option > Dona </option>
                                        <option > L </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6 col-sm-4">
                                    <label for="exampleInputText">Statusi</label>
                                    <select name="status" class="form-control" >
                                        <option >  </option>
                                        <option > SALE! </option>
                                        <option > Ommabop mahsulot </option>
                                        <option > Yangi mahsulot </option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}