{% extends 'index.html' %}
{% load static %}
{% block home %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kategoriya qo`shish</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Kategoriya qo`shish</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <label>Name UZ</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name='name_uz' placeholder="Name UZ">
                                    <div class="input-group-append"></div>
                                </div>
                                <label>Name RU</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name='name_ru' placeholder="Name RU">
                                    <div class="input-group-append"></div>
                                </div>
                                <label for="exampleInputText">Name EN</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name='name_en' placeholder="Name EN">
                                </div>
                                <label>Image</label>
                                <div class="input-group mb-3">
                                    <input type="file" name="img" accept="image/*">
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}